# Node
node_modules/

# Maven / Java
target/
*.class
*.jar
*.war
*.ear

# IDEs
.idea/
*.iml
/.vscode/

# macOS
.DS_Store
.AppleDouble
._*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Percy local / CLI artifacts
.percy/
percy.log

# Temporary files
tmp/
temp/
*.tmp

# System files
# Thumbnails
Thumbs.db

# Coverage
coverage/

# Gradle
.gradle/

# Others
*.swp
*~
.cache/
node_modules